body {
  background-color: #99DBEB;
  color: #000000;
  align-content: center;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8em;
  margin:0;


}
/*
.vseobsegajoc_grid{
  display: grid;
  grid-template-columns: 18% 64% 18%;
  background-color: #99DBEB;
}
*/

.kratek_intro_in_navigacija_anchorji{
  background-color: #99DBEB;



  margin-left: 15%;
  margin-right: 15%;

}




.prvo_podpoglavje{
  background-color: #8CCEFF;
  color: #000000;
  margin-left: 15%;
  margin-right: 15%;

  padding-left: 7px;
  padding-right: 7px;


}
.drugo_podpoglavje{
  background-color: #80A0E8;
  margin-left: 15%;
  margin-right: 15%;
  padding: 7px;


}
.tretje_podpoglavje{
  background-color: #8CCEFF;
  margin-left: 15%;
  margin-right: 15%;
  padding: 7px;


}
.cetrto_podpoglavje{
  background-color: #80A0E8;
  margin-left: 15%;
  margin-right: 15%;
  padding: 7px;

}
.peto_podpoglavje{
  background-color: #8CCEFF;
  margin-left: 15%;
  margin-right: 15%;
  padding: 7px;

}

.skatlica-No_1{
  background-color: #FFF6A2
  color: #ffffff
  border: 5px green solid;

}


.sesto_podpoglavje{
  background-color: #80A0E8;
  margin-left: 15%;
  margin-right: 15%;
  padding: 7px;
}

.sedmo_podpoglavje{
  background-color: #8CCEFF;
  margin-left: 15%;
  margin-right: 15%;
  padding: 7px;


}

.osmo_podpoglavje{
  background-color: #80A0E8;
  margin-left: 15%;
  margin-right: 15%;
  padding: 7px;
}


.deveto_podpoglavje{
  background-color: #8CCEFF;
  margin-left: 15%;
  margin-right: 15%;
  padding: 7px;


}



.container1{
  width:80%;
  margin: auto;
  background-color: #A869FF

}

.container2{
  text-align: center;
  margin-top: auto;

}


.vsi_buttoni{

  color: yellow;
  /* padding: 10px 15px; */
  border-radius: None;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;

}

.slike {
  text-align: center;
  align-items: center;
}


.btn{
  border: 3px solid #A869FF;
  background: #FCF8CA;
  padding: 10px 20px;
  font-size: 23px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.7s;
  position: relative;
  overflow: hidden;
  text-align: center;


}

.btn1, .btn2, .btn4{
  color:#000000;
  border-radius: 10px;

}


.btn3{
  color: #FFF6A2;
  background: #8CCEFF;
  color:#000000;
  border-radius: 10px;
}


.btn1:hover, .btn2:hover,  .btn4:hover{
  color: #FFF6A2;
  background: #8CCEFF;

}



.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 1.2s
}





/*FOOTERČEK IZ MAIN */
.footer {
  background: #999EFF;
  color: black;
  height: 200px;
  width:100%;
  position: relative;
  margin-top: 30px;
}

.footer .footer-bottom {
  background: #9780E8;
  color: black;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;

}


.footer .footer-content {
  border: 1px solid #FFF6A2;

}





/* Style the button that is used to open and close the collapsible content */
.collapsible {
  border: 3px solid #A869FF;
  background: #FCF8CA;
  padding: 10px 20px;
  font-size: 23px;
  font-family: "montserrat";
  cursor: pointer;
  transition: 0.7s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 33%;
  transition: max-height 0.2s ease-out;


}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  color: #FFF6A2;
  transition: 0.7s;
  background: #8CCEFF;
}

.active {
  color: #FFF6A2;
  transition: 0.7s;
  background: #8CCEFF;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: auto; /* super annoyiiiiiiiiiiing reeeees težavica mi teži. Kako naredit, da se bo prikazalo lepo in nebo šlo čez*/
  max-height: 0;
  transition: 0.4s;
  background-color: transparent;
}
